CompileFlags:
  Add: [
    "-Weverything",
    "-ferror-limit=0",
    "-Wno-c++98-compat",
    "-Wno-c++98-compat-pedantic",
    "-Wno-c++17-extensions",

    "-I.",
    "-isystem/home/kappa/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32/include/freertos/include",
    "-isystem/home/kappa/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32/include/freertos/include/esp_additions/freertos",
  ]
  Remove: [
  ]
  Compiler: /home/kappa/.arduino15/packages/esp32/tools/xtensa-esp32-elf-gcc/esp-2021r2-patch5-8.4.0/bin/xtensa-esp32-elf-gcc
Diagnostics:
  UnusedIncludes: Strict
Hover:
  ShowAKA: Yes
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: Yes
  Designators: Yes
